.post-title {
    font-size: 25px !important;
    letter-spacing: -0.1px !important;
    line-height: 0.5 !important;
    font-weight: bold !important
}

.post-content h2 {
    font-size: 19px !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    margin-top: 70px !important;
}

h2 {
    font-weight: 300 !important;
    color: #c76161 !important;
    line-height: 1 !important;
    font-family: 'Montserrat' !important;
    font-weight: bold !important;
    font-size: 10px !important;
}
