.post-content h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 70px;
}

h2 {
    font-weight: 300;
    color: #c76161;
    line-height: 1;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 10px;
}
